body
{
    font-family: "Segoe UI", sans-serif;
    font-size: 11pt;
    line-height: 1.6em;
    color: #333;
}
 
p {
    margin: 0;
    padding: 0;
}
 
h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}
 
h1 { font-size: 20pt; letter-spacing: -1px; }
h2 { font-size: 18pt; letter-spacing: -1px; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }
 
code, pre, kbd {
    font-family: Consolas, monospace;
    background-color: #eee;
    line-height: 1.2em;
}
 
code, kbd {
    padding: 0 .25em;
}
 
kbd {
    display: inline-block;
    margin: -2px 0;
    border-width: 1px;
    border-color: #ddd #bbb #999 #ddd;
    border-style: solid;
}

pre {
	padding: .25em .5em;
}

pre code {
    padding: 0;
}
 
blockquote {
    margin: 0 0 .5em;
    border: 1px solid #ddd;
    padding: .75em 1.5em;
    position: relative;
    font-style: italic;
    color: #666;
}