<!DOCTYPE html>
<html ng-app="angularGridSample">
<head>
	<meta charset="utf-8" />
	<title>Angular Grid sample</title>
	<link href="bootstrap.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h1>Angular Grid Sample</h1>

		<div ng-controller="SampleController">
			<h2>Full-featured grid</h2>

			<button ng-click="modifyModel()">Modify model</button>

			<light-grid id="sampleGrid" class="table" extra-settings="temp">
				<local-data-provider model="localModel"></local-data-provider>
				<template-column title="'Index'"><template-view>{{$index}}</template-view></template-column>

				<bound-column property="firstName" title="'First name'"></bound-column>
				<bound-column property="lastName" title="'Last name'"></bound-column>

				<template-column title="'Formatted data'">
					<template-view>
						<span style="color: limegreen; font-family: Consolas, monospace; text-transform: uppercase">{{rowData.firstName}}</span> | {{extraSettings.staticText}}
					</template-view>
				</template-column>

				<template-column title="'Combined editable data'">
					<template-view>
						{{ rowData.firstName }}
						{{ rowData.lastName }}
					</template-view>
					<template-view view="edit">
						<input ng-model="rowData.firstName" />
						<input ng-model="rowData.lastName" />
					</template-view>
				</template-column>

				<template-column title="'Actions'">
					<template-view>
						<button switch-view="edit">Edit</button>
						<button toggle-details="detailsTemplate.html">Details</button>
					</template-view>
					<template-view view="edit">
						<button switch-view="read">Save</button>
					</template-view>
				</template-column>

				<static-column content="'Lorem ipsum'" title="'Static text'"></static-column>
			</light-grid>

			<h3>Common text</h3>
			<input ng-model="temp.staticText" />

			<h2>Simpler grid</h2>
			<light-grid id="sampleGrid2" class="table" data="localModel">
				<bound-column property="firstName" title="'First name'"></bound-column>
				<bound-column property="lastName" title="'Last name'"></bound-column>
			</light-grid>

			<h2>First record modification</h2>
			<input ng-model="localModel[0].firstName" />
			<input ng-model="localModel[0].lastName" />
		</div>
	</div>
	
	<script src="../libs/jquery-1.10.2.js"></script>
	<script src="../libs/angular-1.2.0.js"></script>

	<script src="../src/moduleDefinition.js"></script>

	<script src="../src/directives/grid.js"></script>
	<script src="../src/directives/row.js"></script>
	<script src="../src/directives/headerRow.js"></script>

	<script src="../src/column-templates/boundColumn.js"></script>
	<script src="../src/column-templates/staticColumn.js"></script>
	<script src="../src/column-templates/templateColumn.js"></script>
	<script src="../src/column-templates/templateView.js"></script>

	<script src="../src/data-providers/localDataProvider.js"></script>
	<script src="../src/data-providers/ajaxDataProvider.js"></script>

	<script src="../src/cell-elements/switchView.js"></script>
	<script src="../src/cell-elements/toggleDetails.js"></script>

	<!--script src="../dist/angular-grid-0.1.0.min.js"></script-->
	<script src="app.js"></script>
</body>
</html>
