.sorter {
	cursor: pointer;
}

.sorter:after {
	font-family: FontAwesome;
	margin-left: 1ex;
	content: "\f0dc";
	opacity: 0.3;
}

.sorter:hover:after {
	opacity: 0.7;
}

.sorter-asc:after {
	content: "\f0de";
	opacity: 1;
}

.sorter-desc:after {
	content: "\f0dd";
	opacity: 1;
}