.sorter {
	cursor: pointer;
}

.sorter:after {
	font-family: FontAwesome;
	margin-left: 1ex;
	content: "\f0dc";
	opacity: 0.3;
}

.sorter:hover:after {
	opacity: 0.7;
}

.sorter-asc:after {
	content: "\f0de";
	opacity: 1;
}

.sorter-desc:after {
	content: "\f0dd";
	opacity: 1;
}

.pager button {
	background: none;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid #ecf0f1;
	margin: 0 2px;
	border-radius: 3px;
	text-indent: -9999px;
	position: relative;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

	.pager button:after {
		font-family: FontAwesome;
		font-size: 18px;
		color: #2c3e50;
		position: absolute;
		text-align: center;
		line-height: 28px;
		top: 0;
		left: 0;
		width: 28px;
		text-indent: 0;
	}

	.pager button:hover {
		background: #f9f9f9;
	}

	.pager button[disabled] {
		opacity: 0.5;
		background: none;
	}

	.pager button:active {
		transform: translateY(1px);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
	}

	.pager button:focus {
		outline: none;
	}

.pager .first:after {
	content: "\f100";
}

.pager .previous:after {
	content: "\f104";
}

.pager .next:after {
	content: "\f105";
}

.pager .last:after {
	content: "\f101";
}
