<script>
	function clientSideSearchController($scope, sampleModel, lgLocalDataProviderFactory) {
		$scope.model = sampleModel;
		$scope.dataProvider = lgLocalDataProviderFactory.create(sampleModel);

		$scope.$watch("filterExpression", function () {
			$scope.dataProvider.filter($scope.filterExpression);
		});
	}
</script>

<h2>Client-side search example</h2>

<div ng-controller="clientSideSearchController">
	<div class="btn-toolbar">
		<div class="btn-group btn-group-sm">
			<input type="text" ng-model="filterExpression" class="form-control" placeholder="type here to search" />
		</div>
	</div>
	<table light-grid id="sampleGrid" class="table table-striped" model="dataProvider.getGridModel()">
		<tr lg-column-templates>
			<td lg-column title="'Make'">{{ rowData.make }}</td>
			<td lg-column title="'Model'">{{ rowData.model }}</td>
			<td lg-column title="'Engine'">{{ rowData.engine }}</td>
		</tr>
	</table>
</div>
