<script>
	function expandedRowController($scope, sampleModel) {
		$scope.model = sampleModel;
	}
</script>

<script type="text/ng-template" id="detailsTemplate.html">
	<div class="panel panel-default">
		<div class="panel-body">
			<p>Here we can show additional details of {{ rowData.make }} {{ rowData.model }}.</p>
		</div>
	</div>
</script>

<h2>Expanding rows</h2>

<div ng-controller="expandedRowController">
	<table light-grid id="sampleGrid" class="table table-striped" model="model">
		<tr lg-column-templates>
			<td lg-column title="'Make'">{{ rowData.make }}</td>
			<td lg-column title="'Model'">{{ rowData.model }}</td>
			<td lg-column title="'Engine'">{{ rowData.engine }}</td>
			<td lg-column><button lg-toggle-expanded-row="detailsTemplate.html" class="btn btn-default btn-sm">Details</button></td>
		</tr>
	</table>
</div>