<script>
	function expandedRowController($scope) {
		$scope.model = [{
				make: "Honda",
				model: "CBF 1000F",
				engine: "1000ccm R4"
			}, {
				make: "BMW",
				model: "F800 GT",
				engine: "800ccm R2"
			}, {
				make: "Suzuki",
				model: "V-Strom 1000",
				engine: "1000ccm V2"
			}];
	}
</script>

<script type="text/ng-template" id="detailsTemplate.html">
	<div class="panel panel-default">
		<div class="panel-body">
			<p>Here we can show additional details of {{ rowData.make }} {{ rowData.model }}.</p>
		</div>
	</div>
</script>

<h2>Expanding rows</h2>

<div data-ng-controller="expandedRowController">
	<table data-light-grid id="sampleGrid" class="table" data="model">
		<tr data-lg-column-templates>
			<td data-lg-column title="'Make'">{{ rowData.make }}</td>
			<td data-lg-column title="'Model'">{{ rowData.model }}</td>
			<td data-lg-column title="'Engine'">{{ rowData.engine }}</td>
			<td data-lg-column><button data-lg-toggle-expanded-row="detailsTemplate.html" class="btn btn-default btn-sm">Details</button></td>
		</tr>
	</table>
</div>