<script>
	function localDataGridController($scope, sampleModel, lgLocalDataProviderFactory) {
		$scope.model = sampleModel;
		$scope.dataProvider = lgLocalDataProviderFactory.create();
	};
</script>

<h2>Grid with a local data provider</h2>

<div ng-controller="localDataGridController">
	<table light-grid id="sampleGrid" class="table table-striped" model="model | foo:dataProvider">
		<tr lg-column-templates>
			<td lg-column title="'Make'">{{ rowData.make }}</td>
			<td lg-column title="'Model'">{{ rowData.model }}</td>
			<td lg-column title="'Engine'">{{ rowData.engine }}</td>
		</tr>
	</table>
</div>
