<script>
	function sortableColumnsController($scope, sampleModel, lgLocalDataProviderFactory) {
		$scope.model = sampleModel;
		$scope.dataProvider = lgLocalDataProviderFactory.create(sampleModel);
	}
</script>

<h2>Sortable columns</h2>

<div ng-controller="sortableColumnsController">
	<table light-grid id="sampleGrid" class="table table-striped" model="dataProvider.getGridModel()">
		<tr lg-column-templates>
			<td lg-sortable-column property="make" title="'Make'" data-provider="dataProvider"></td>
			<td lg-sortable-column property="model" title="'Model'" data-provider="dataProvider"></td>
			<td lg-sortable-column property="engine" title="'Engine'" data-provider="dataProvider"></td>
		</tr>
	</table>
</div>
