<script>
	function sortableColumnsController($scope, sampleModel) {
		$scope.model = sampleModel;
	}
</script>

<h2>Sortable columns</h2>

<div ng-controller="sortableColumnsController">
	<table light-grid id="sampleGrid" class="table table-striped">
		<tr lg-local-data-provider model="model"></tr>
		<tr lg-column-templates>
			<td lg-sortable-column property="make" title="'Make'"></td>
			<td lg-sortable-column property="model" title="'Model'"></td>
			<td lg-sortable-column property="engine" title="'Engine'"></td>
		</tr>
	</table>
</div>